<?xml version="1.0"?>
<configuration debug="true">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- See http://logback.qos.ch/manual/layouts.html -->
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSZ","UTC"} level=%level logger=%logger{15} %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="akka" level="error" additivity="true">
    </logger>
    <logger name="com.ning.http.client.providers.netty" level="error"/>
    <logger name="com.colorextract" level="error" additivity="true"/>
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>

